@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

div.bg-image {
    background-image: url('https://img.freepik.com/premium-photo/winding-river-virgin-forest-valley-against-mountains_76964-970.jpg?size=626&ext=jpg&ga=GA1.2.1070014817.1675015122&semt=sph');
    background-size: cover;
    height: 100vh;
    width: 100%
}

nav {
    background-color: rgb(22, 21, 21, 0.5);
    position: fixed;
    height: 70px;
}

.logo {
    width: 40px;
    margin-right: 5px;
}

.logo-text {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}

.input-text {
    height: 35px;
    border-width: 0px;
    border-radius: 3px;
    width: 50%;
}

input {
    background-color: none;
    border-width: 0;
}

.button1 {
    color: #fff;
    border: 0;
    background-color: transparent;
    font-size: 1.25rem;
    font-weight: 500;
}

.button2 {
    color: rgb(3, 3, 3);
    background-color: #fff;
    border-width: 0;
    border-radius: 4px;
    font-size: 1.25rem;
    font-weight: 500;

}

.button3 {
    color: #fff;
    background-color: transparent;
    border-color: #f7f6f2;
    border-width: 3px;
    font-size: 1.25rem;
    font-weight: 500;

}

.bg-full {
    height: 100%;
}

.main-text {
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    font-weight: 600;
}

.main-para {
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
}

.main-button {
    color: #333;
    background-color: #fff;
    border-width: 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1.75rem;

}

p {
    color: grey;
}

i {
    color: grey;
    font-size: 25px;
}

.new {
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px;
    padding-bottom: 10px;
}

.fa-solid {
    color: #fff;
}

.big {
    color: grey;
}

.icon {
    height: 100%;
}

.move {
    font-size: 3rem;
}
